body {
    font-family: var(--font-red-hat-display);
    background: var(--background-main);
    background-image: radial-gradient(var(--radial-gradient) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: 100px;
}

.wrapper {
    margin: 0 auto;
}

.container {
    padding: 0 20px;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}